@import "tailwindcss";
@import "../styles/home.scss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}

:root {
  --primary: #111;
  --accent: #c7a17a;
}
//tailwind config
@theme {
  --color-primary: #bf1734;
  --text-content: #5d5d62;
  --color-secondary: #1f5fa8;
  --color-accent: #facc15;

  --color-gray-300: #6D7078;
  --color-gray-200: #4B4E57;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-industrial-blue: #0f172a;
  --color-industrial-gray: #334155;
  --color-accent-orange: #f97316;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  padding: 100px 0;
}

.container-custom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.heading {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.subtext {
  color: #666;
  line-height: 1.6;
}

.hover-zoom {
  overflow: hidden;

  img {
    transition: 0.6s;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

html {
  scroll-behavior: auto; /* tắt default để tránh conflict */
}